.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 52.2vh;
}

/* Styling for the heading */
.login-container h3 {
    font-size: 24px;
    color: #49b970;
    margin-bottom: 10px;
}

/* Styling for the form */
.login-container form {
    margin-bottom: 20px;
    padding: 30px;
}

/* Styling for form elements */
.login-container input {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #49b970;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #28e66a;
}

.text-center {
    padding: 0;
    color: #807e7e;
}

a {
    color: #49b970;
}

a:hover {
    color: #28e66a;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}