<div class="login-container">
  <h3>Welcome back! Please log in</h3>
  <form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
    <input
      type="email"
      name="email"
      placeholder="Email"
      #emailInput="ngModel"
      ngModel
      required
      [appEmail]="appEmailDomains"
    />
    <!-- {{ emailInput.errors | json }} -->
    <ng-container *ngIf="emailInput.touched">
      <p class="error" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
        Email is not valid!
      </p>
    </ng-container>
    <input
      type="password"
      name="password"
      placeholder="Password"
      #passwordInput="ngModel"
      ngModel
      required
      [minlength]="6"
    />
    <ng-container *ngIf="passwordInput.touched">
      <p class="error" *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="passwordInput.errors?.['minlength']">
        Password must be at least characters!
      </p>
    </ng-container>
    <button [disabled]="form.invalid">Login</button>
    <p class="text-center">
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </form>
</div>
