<div class="register-container">
  <div class="container">
    <h3>Create an Account</h3>
    <form [formGroup]="form" (ngSubmit)="registerHandler()">
      <input
        type="name"
        name="username"
        placeholder="Username"
        formControlName="username"
      />
      <ng-container *ngIf="form.get('username')?.touched">
        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
          Username's length should not be less than 5
        </p>
      </ng-container>
      <input
        type="email"
        name="email"
        placeholder="Email"
        formControlName="email"
      />
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p
          class="error"
          *ngIf="form.get('email')?.errors?.['appEmailValidator']"
        >
          Email is not valid!
        </p>
      </ng-container>
      <ng-container formGroupName="pass">
        <input
          type="password"
          name="password"
          placeholder="******"
          formControlName="password"
        />
        <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
          <p
            class="error"
            *ngIf="form.get('pass')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']"
          >
            Password must be at least 6 characters!
          </p>
        </ng-container>

        <input
          type="password"
          name="rePassword"
          placeholder="******"
          formControlName="rePassword"
        />
        <ng-container
          *ngIf="form.get('pass')?.errors?.['matchPasswordGroupValidator'] && form.get('pass')?.get('rePassword')?.touched"
        >
          <p class="error">Repeat Password does not match password!</p>
        </ng-container>
      </ng-container>
      <button [disabled]="form.invalid">Register</button>
      <p class="text-center">
        Have an account?
        <a routerLink="/auth/login">Log In</a>
      </p>
    </form>
  </div>
</div>
