body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 52.2vh;
}

h3 {
    font-size: 24px;
    color: #49b970;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
    padding: 30px;
}

input {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #49b970;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #28e66a;
}

p {
    padding: 0;
    color: #807e7e;
}

.error {
    padding: 0;
    color: #fa0202;
}


a {
    color: #49b970;
}

a:hover {
    color: #28e66a;
}