<div class="welcome">
  <div class="welcome-container">
    <div class="welcome-background">
      <div class="welcome-content">
        <h1>Welcome to the Sourced Energy Blog!</h1>
        <p>
          Our blog is dedicated to exploring sustainable energy solutions.
          Discover the latest advancements in renewable energy, from solar and
          wind power to hydroelectricity and more. Join us as we work towards a
          greener future and make a positive impact on the world. Let's create a
          sustainable and brighter tomorrow together!
        </p>
        <a routerLink="/theme/list" class="btn">Visit the Blog</a>
      </div>
    </div>
  </div>
</div>
