<!-- <header>
  <h1><a href="/">Sourced Energy</a></h1>
  <nav>
    <a id="catalogLink" href="/" class="active">Home</a>
    <div id="user">
      <a id="createLink" href="/create">Create Theme</a>
      <a id="profileLink" href="/my-furniture">Catalog</a>
      <a id="logoutBtn" href="javascript:void(0)">Logout</a>
    </div>
    <div id="guest">
      <a id="loginLink" href="/login">Login</a>
      <a id="registerLink" href="/register">Register</a>
    </div>
  </nav>
</header> -->
<header>
  <nav class="navbar">
    <div class="logo">Energy Reproduction</div>
    <ul class="nav-links">
      <li>
        <a routerLink="/">HOME</a>
      </li>
      <li>
        <a routerLink="/theme">BLOG</a>
      </li>
      <li>
        <a routerLink="/profile">EXAMPLE</a>
      </li>
      <div class="nav-log-reg">
        <ul *ngIf="!isLoggedIn">
          <li>
            <a routerLink="/auth/login">LOGIN</a>
          </li>
          <li>
            <a routerLink="/auth/register">REGISTER</a>
          </li>
        </ul>
        <ul *ngIf="isLoggedIn">
          <li>
            <a routerLink="/auth/profile">{{ user?.username }}'s PROFILE</a>
          </li>
          <li>
            <a routerLink="/auth/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
    </ul>
  </nav>
</header>
