<!-- <header>
  <h1><a href="/">Sourced Energy</a></h1>
  <nav>
    <a id="catalogLink" href="/" class="active">Home</a>
    <div id="user">
      <a id="createLink" href="/create">Create Theme</a>
      <a id="profileLink" href="/my-furniture">Catalog</a>
      <a id="logoutBtn" href="javascript:void(0)">Logout</a>
    </div>
    <div id="guest">
      <a id="loginLink" href="/login">Login</a>
      <a id="registerLink" href="/register">Register</a>
    </div>
  </nav>
</header> -->
<header>
  <nav class="navbar">
    <div class="logo">Energy Reproduction</div>
    <ul class="nav-links">
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/theme">BLOG</a></li>
      <li><a routerLink="/profile">PROFILE</a></li>
      <div class="nav-log-reg" *ngIf="isLogged">
        <li><a routerLink="/login">LOGIN</a></li>
        <li><a routerLink="/register">REGISTER</a></li>
      </div>
    </ul>
  </nav>
</header>
