<!-- <div class="row space-top">
  <div class="col-md-12">
    <h1>Catalog of Sourced Energy</h1>
    <p>This is a list of publications.</p>
  </div>
</div>
<div class="row space-top"></div>

<div class="col-md-4">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <img src="#" />
      <p>Description</p>
      <footer>
        <p>Price: <span>100 $</span></p>
      </footer>
      <div>
        <a href="#" class="btn btn-info">Details</a>
      </div>
    </div>
  </div>
</div> -->

<app-loader *ngIf="!themeList"></app-loader>

<h1>Welcome to the Energy Reproduction Blog</h1>
<div class="blog-posts">
  <div class="blog-post-card" *ngFor="let theme of themeList">
    <img src="{{ theme.image }}" alt="Blog Post 1" />
    <h2>{{ theme.type }}</h2>
    <p>{{ theme.description }}</p>
    <button href="" class="btn" routerLink="/theme/detail:id">
      More Details
    </button>
  </div>
  <!-- <div class="blog-post-card">
      <img src="#" alt="Blog Post 2" />
      <h2>Blog Post Title 2</h2>
      <p>Blog Post Description 2</p>
      <button class="btn" routerLink="/themeId">More Details</button>
    </div>
    <div class="blog-post-card">
      <img src="#" alt="Blog Post 2" />
      <h2>Blog Post Title 2</h2>
      <p>Blog Post Description 2</p>
      <button class="btn" routerLink="/themeId">More Details</button>
    </div>
    <div class="blog-post-card">
      <img src="#" alt="Blog Post 2" />
      <h2>Blog Post Title 2</h2>
      <p>Blog Post Description 2</p>
      <button class="btn" routerLink="/themeId">More Details</button>
    </div> -->
  <!-- Repeat the structure for the other blog post cards -->
</div>
