html {
    font: 18px/1.5 Verdana, sans-serif;
}

body,
form,
input,
textarea,
option,
select,
button {
    font: inherit;
}

/* body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
} */